<ion-modal-view>
  <ion-header-bar>
    <h1 class="title">Create Task</h1>
    <div class="buttons">
      <button class="button button-clear" ng-click="closeCreateTask()">Close</button>
    </div>
  </ion-header-bar>
  <ion-content>
    <form ng-submit="createTask()">
      <div class="list">
        <label class="item item-input">
          <input type="text" placeholder="Task Name" ng-model="newToDo.task">
        </label>
        <label class="item item-input">
          <input type="date" placeholder="Time to be done" ng-model="newToDo.time">
        </label>
        <label class="item">
          <button class="button button-block button-positive" type="submit">Create</button>
        </label>
      </div>
    </form>
  </ion-content>
</ion-modal-view>
